.form-outline {
  border: 1px solid rgb(215, 215, 215);
  border-radius: 4px;

  &:focus-within {
    border: 1px solid rgb(0, 119, 255);
    div {
      
      width:max-content;
      padding: 0 2% 0 2%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;

      transition: all 0.1s linear;
      font-size: 14px !important;
      label{
        width: calc(100% + 40px);
        
        text-align: center;
       
      }
    }
  }
}
