@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Ms+Madi&family=Satisfy&display=swap");
i {
  cursor: pointer;
}
.parent {
  height: 100vh;
}
.h {
  font-family: "Alex Brush", cursive;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  margin: 0 10px;
  // font-family: "Ms Madi", cursive;
  // font-family: "Satisfy", cursive;
}
.welcome {
  h1 {
    font-family: "Ms Madi";
    font-size: 30px;
    font-weight: 600;
    // color: transparent;
    position: relative;
    animation: wel 2s 1;
    animation-direction: alternate;
    @keyframes wel {
      0% {
        color: transparent;
      }
      50% {
      }
    }
  }
  p {
    font-style: italic;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
  }
}
.btn-border-1 {
  padding: 4px;
  border-radius: 20px;
  background: linear-gradient(rgb(0, 115, 255), rgb(1, 83, 183));
}
.btn-border-2 {
  padding: 4px;
  border-radius: 20px;
  background: linear-gradient(rgb(255, 0, 60), rgb(179, 1, 19));
}
.logout-btn {
  border-radius: 20px;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 4px 6px;
  background: linear-gradient(rgb(179, 1, 19), rgb(255, 0, 60));

  &:hover {
    background: linear-gradient(rgb(195, 3, 22), rgb(253, 17, 72));
    color: rgb(255, 255, 255);
    transition: 400ms;
  }
}

.login-btn {
  border-radius: 20px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 4px 6px;
  background: linear-gradient(rgb(1, 83, 183), rgb(0, 115, 255));

  &:hover {
    background: linear-gradient(rgb(3, 87, 191), rgb(20, 126, 255));
    color: white;
    transition: 400ms;
  }
}
.nav-item:hover {
  div {
    width: 4px;
    height: 2px;
    background: white;
    position: relative;
    animation: ani 2s 1;
    animation-direction: alternate;
  }
  @keyframes ani {
    0% {
      background-color: rgb(255, 255, 255);
      width: 0px;
    }
    50% {
      background: rgb(255, 255, 255);
      width: 60px;
    }
  }
}
